hbody {

}
table {
  border-collapse: collapse;
}

td {
  padding: 12px 15px;
  font-size: 20px;
}

th {
text-align: center;
font-weight: bold;
background-color: grey;
color: white;
font-size: 20px;
}

.activity{
  color: white;
  background-color: #009879;
  text-align: left;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
h2{
  font-weight: bold;
  color: black;
  font-size: 20px;
}
