hbody {

}
table {
  border-collapse: collapse;
}

td {
  padding: 12px 15px;
  font-size: 20px;
}

th {
text-align: center;
font-weight: bold;
background-color: grey;
color: white;
font-size: 20px;
}

.activity{
  color: white;
  background-color: #009879;
  text-align: left;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
